.Cabeçalhotext {
    font-family: 'Montserrat', sans-serif;
    font-size: 13;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 1vw;
}
.browsertext{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    position: relative;
    z-index: 4;
}
 .Cardápio {
    font-family: 'Rajdhani', sans-serif;
    font-size: 16;
    position:absolute;
    left: 100px;
    bottom:0px;
    z-index: 4;
    cursor: pointer;
    transition: transform 0.3s;
}

.Cardápio:hover{
    transform: scale(1.1);
}

.Lançamentos {
    font-family: 'Rajdhani', sans-serif;
    font-size: 16;
    position: absolute;
    left:420px;
    bottom:0px;
    cursor:pointer;
    transition: transform 0.3s;
}

.Lançamentos:hover{
    transform:scale(1.1);
}

.QuemSomos {
    font-family: 'Rajdhani', sans-serif;
    font-size: 16;
    position:absolute;
    right:420px;
    bottom:0px;
    cursor: pointer;
    transition: transform 0.3s;
}

.QuemSomos:hover{
    transform:scale(1.1);}

    .Cupons{
    font-family: 'Rajdhani', sans-serif;
    font-size: 16;
    position:absolute;
    right:100px;
    bottom:0px;
    cursor: pointer;
    transition: transform 0.3s;
}

.Cupons:hover{
    transform:scale(1.1);}

#PaladarBrasileiro{
    font-family: 'Montserrat', sans-serif; ;
    position: absolute;
    top: 290px;
    left: 50px;
}


.TitleElement{
    position: absolute;
    top: 0px;
    left: 170px;
    color: black;
    font-family:'Kanit', sans-serif;
    font-size: 15;
}
.SubtitleElement{
    position: absolute;
    top: 25px;
    left: 170px;
    color: black;
    font-family:'Montserrat', sans-serif;
    font-size: 12;
}

#Dessert{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 750px;
    left: 50px;

}
#QuemSomos2 {
    font-family: 'Nasalization';
    font-size: 10;
    position:absolute ;
    bottom:55px;
    left:440px ;
    z-index:5;
}
#TrabalheConosco {
    font-family: 'Nasalization';
    position:absolute ;
    font-size:10;
    bottom:55px;
    left:620px ;
    right:620px ;
    z-index:5;
}
#FaleConosco{
    font-family: 'Nasalization';
    position:absolute ;
    font-size:10;
    bottom:55px;
    right:440px ;
    z-index:5;
}
#DireitosReservados{
    font-family: 'Nasalization';
    position:absolute ;
    font-size:10;
    bottom:10px;
    left:25% ;
    z-index:6;
}