#facebookcabeçalho {
    position:absolute;
    top: 10px;
    right:55px;
    z-index:3;
    cursor: pointer;
}
#twittercabeçalho {
    position:absolute;
    top: 10px;
    right:30px;
    z-index:3;
    cursor: pointer;
}
#instagramcabeçalho{
    position:absolute;
    top: 10px;
    right:10px;
    z-index:3;
    cursor: pointer;
}
#Lupa{
    position: absolute;
    right:437px;
    top: 110px;
    z-index: 3;   
}
#logo {
width: 5px;
height: 5px;
position: absolute;
top: 35px;
left: 40px;
z-index: 2;
cursor: pointer;
}

#image1{
    position: absolute;
    left: 0;
}
#image2{
    position: absolute;
    left: 0;
}
#image3{
    position: absolute;
    left: 0;
}
#image4{
    position: absolute;
    left: 0;
}
#image5{
    position: absolute;
    left: 0;
}
#image6{
    position: absolute;
    left: 0;
}
#image7{
    position: absolute;
    left: 0;
}
#image8{
    position: absolute;
    left: 0;
}
#image9{
    position: absolute;
    left: 0;
}

#slide1{
    position: absolute;
    top: 1150px;
    left:50px;
}
#slide2{
    position: absolute;
    top: 1150px;
    left:370px;
}

#slide3{
    position: absolute;
    top: 1150px;
    right:370px;
}

#slide4{
    position: absolute;
    top: 1150px;
    right:50px;
}


#facebookrodapé{
    position:absolute;
    top: 15px;
    right:80px;
    z-index:2;
    cursor: pointer;
}
#twitterrodapé{
    position:absolute;
    top: 15px;
    right:40px;
    z-index:2;
    cursor: pointer;
}
#instagramrodapé{
    position:absolute;
    top: 15px;
    right:10px;
    z-index:2;
    cursor: pointer;
}
