.Cabeçalhotext {
    font-family: 'Nasalization';
    font-size: 13;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 1vw;
}
.browsertext{
    font-family: 'montserrat';
    font-size: 17px;
    position: relative;
    z-index: 4;
}
 .Cardápio {
    font-family: 'Nasalization';
    font-size: 13;
    position:absolute;
    left: 100px;
    bottom:5px;
    z-index: 4;
    cursor: pointer;
    transition: transform 0.3s;
}
 
 .Cardápio:hover{
    transform: scale(1.1);
}

.Lançamentos {
    font-family: 'Nasalization';
    font-size: 13;
    position: absolute;
    left:420px;
    bottom:5px;
    cursor:pointer;
    transition: transform 0.3s;
}

.Lançamentos:hover{
    transform:scale(1.1);
}

.QuemSomos {
    font-family: 'Nasalization';
    font-size: 13;
    position:absolute;
    right:420px;
    bottom:5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.QuemSomos:hover{
    transform:scale(1.1);}

.Cupons{
    font-family: 'Nasalization';
    font-size: 13;
    position:absolute;
    right:100px;
    bottom:5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.Cupons:hover{
    transform:scale(1.1);}

.TitleElement{
    position: absolute;
    top: 0px;
    left: 170px;
    color: black;
    font-family:'Nasalization','Arial';
    font-size: 15;
}
.SubtitleElement{
    position: absolute;
    top: 25px;
    left: 170px;
    color: black;
    font-family:'montserrat';
    font-size: 12;
}

#OptionsDiversified{
    position: absolute;
    top: 1050px;
    left: 50px;
    font-family: 'montserrat';
    font-size: 15;

}
#Dessert{
    position: absolute;
    top: 1390px;
    left: 50px;
    font-family: 'montserrat';
    font-size: 15;
}
#QuemSomos2 {
    font-family: 'Nasalization';
    font-size: 10;
    position:absolute ;
    bottom:55px;
    left:440px ;
    z-index:5;
}
#TrabalheConosco {
    font-family: 'Nasalization';
    position:absolute ;
    font-size:10;
    bottom:55px;
    left:620px ;
    right:620px ;
    z-index:5;
}
#FaleConosco{
    font-family: 'Nasalization';
    position:absolute ;
    font-size:10;
    bottom:55px;
    right:440px ;
    z-index:5;
}
#DireitosReservados{
    font-family: 'Nasalization';
    position:absolute ;
    font-size:10;
    bottom:10px;
    left:25% ;
    z-index:6;
}