a{
    color: black;
    text-decoration: none;
}
#Cabeçalho { 
    background: #F0D800;
    width:98vw;
    height:40px;
    padding : 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 0px 0px 15px 15px;   
    z-index: 3;
}
.Browser {
    background:#E6E6E6;
    width: 50vw;
    height: 50px;
    border-radius: 18px;
    border: #E6E6E6;
    position: absolute;   
    display: flex;
    justify-content: left;
    align-items: center;    
    margin: 2300px 350px;
    z-index:3;


}
.Browser::placeholder{
    color: #A79A9A ;
    font-family:'Nasalization';
    font-size: 13;
    position: absolute;
    top: 19px ;
    left: 20px;
    z-index: 4;
}
#ResultList{
    font-family: 'Montserrat';
    list-style-type: none;
    background: white;
    border: 1px lightgray solid;
    border-radius: 5px;
    width: 400px;
    position: absolute;
    top:133px ;
    left: 460px;
    z-index: 4;
    display: none;
}


#estilizaçãoA {
    background: white;
    box-shadow: 1px 8px 7px rgb(165, 165, 165);
    width:98vw;
    height:100px;
    padding : 5px;
    position:absolute;
    top:0px;
    left:0px;
    border-radius:0px 0px 18px 18px;
    z-index: 2;
}
#espaçamentodasopções1{
    background: lightgray;
    width: 1px;
    height: 30px;
    position:absolute;
    bottom:10px;
    left: 280px;
    z-index: 5;

}
#espaçamentodasopções2{
    background: lightgray;
    width: 1px;
    height: 30px;
    position:absolute;
    bottom:10px;
    left: 670px;
    z-index: 5;

}
#espaçamentodasopções3{
    background: lightgray;
    width: 1px;
    height: 30px;
    position:absolute;
    bottom:10px;
    left: 1050px;
    z-index: 5;
}

#estilizaçãoB {
    background: white;
    width: 344px;
    height:250px;
    position: absolute;
    top: 700px;
    left: 100px ;
    box-shadow: 1px 8px 16px lightgray;
    border-radius: 10px ;
    z-index: 3;
}

#estilizaçãoC {
    background: white;
    width: 344px;
    height:250px;
    position: absolute;
    top: 700px;
    right:100px;
    box-shadow: 1px 8px 16px lightgray;
    border-radius: 10px ;
}

#EstilizaçãoD {
    background:white;
    width: 98vw;
    height:550px ;
    box-shadow: 2px 2px 7px lightgray;
    position:absolute;
    top: 1800px;
    left: 0px;
    padding: 5px;
    border-radius: 15px;
    z-index: 1;
}

#estilizaçãoE {
    background: white;
    width: 160px;
    height:140px;
    position: absolute;
    top: 390px;
    left: 566px ;
    box-shadow: 1px 4px 4px lightgray;
    border-radius: 10px ;
    z-index: 3;
}

#estilização1 {
    background: white;
    width: 151px;
    height:150px;
    position: absolute;
    top: 1050px;
    left: 190px ;
    box-shadow: 7px 1px 7px lightgray;
    z-index: 4;
    border-radius:84px;
}

#estilização2 {
    background: white;
    width: 151px;
    height:150px;
    position: absolute;
    top: 1050px;
    left: 600px ;
    box-shadow: 7px 1px 7px lightgray;
    z-index: 4;
    border-radius:84px;
}

#estilização3 {
    background: white;
    width: 151px;
    height:150px;
    position: absolute;
    top: 1050px;
    left: 1000px ;
    box-shadow: 7px 1px 7px lightgray;
    z-index: 4;
    border-radius:84px;
}

#estilização4 {
    background: white;
    width: 151px;
    height:150px;
    position: absolute;
    top: 1750px;
    left: 190px ;
    box-shadow: 7px 1px 7px lightgray;
    z-index: 4;
    border-radius:84px;
}

#estilização5 {
    background: white;
    width: 151px;
    height:150px;
    position: absolute;
    top: 1750px;
    left: 600px ;
    box-shadow: 7px 1px 7px lightgray;
    z-index: 4;
    border-radius:84px;
}

#estilização6 {
    background: white;
    width: 151px;
    height:150px;
    position: absolute;
    top: 1750px;
    left: 1000px ;
    box-shadow: 7px 1px 7px lightgray;
    z-index: 4;
    border-radius:84px;
}

#estilizaçãoF {
    background: white;
    width: 326px;
    height:320px;
    position: absolute;
    top: 1080px;
    left: 110px ;
    box-shadow: 1px 8px 16px lightgray;
    border-radius: 10px ;
    z-index: 3;
}

#estilizaçãoG {
    background: white;
    width: 326px;
    height:320px;
    position: absolute;
    top: 1080px;
    left: 515px ;
    box-shadow: 1px 8px 16px lightgray;
    border-radius: 10px ;
    z-index: 3;
}

#estilizaçãoH {
    background: white;
    width: 326px;
    height:320px;
    position: absolute;
    top: 1080px;
    left: 920px ;
    box-shadow: 1px 8px 16px lightgray;
    border-radius: 10px ;
    z-index: 3;
}

#estilizaçãoI {
    background: white;
    width: 326px;
    height:320px;
    position: absolute;
    top: 1800px;
    left: 110px ;
    box-shadow: 1px 8px 16px lightgray;
    border-radius: 10px ;
    z-index: 3;
}

#estilizaçãoJ {
    background: white;
    width: 326px;
    height:320px;
    position: absolute;
    top: 1800px;
    left: 515px ;
    box-shadow: 1px 8px 16px lightgray;
    border-radius: 10px ;
    z-index: 3;
}

#estilizaçãoK {
    background: white;
    width: 326px;
    height:320px;
    position: absolute;
    top: 1800px;
    left: 920px ;
    box-shadow: 1px 8px 16px lightgray;
    border-radius: 10px ;
    z-index: 3;
}

#StyleSobreodolcevita1{
    background: #F0D800;
    width: 37vw;
    height:50px;
    box-shadow: 1px 1px 7px lightgray ;
    position:absolute;
    top: 480px;
    left: 400px;
    border-radius: 10px;
    z-index: 3;
    cursor:pointer;
    transition: transform 0.3s;    
    
}
#StyleSobreodolcevita1:hover{
    transform:scale(1.1);

}
#Rodapé {
    background:#F0D800;
    width:98vw;
    height:180px;
    padding : 6px;
    position: absolute;
    top:2993px;
    left:0px ;
    border-radius:12px 12px 0px 0px ;
}