.Cabeçalhotext {
    font-family: 'Nasalization';
    font-size: 13;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 1vw;
}
.browsertext{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    position: relative;
    z-index: 4;
}
 .Cardápio {
    font-family: 'Nasalization';
    font-size: 13;
    position:absolute;
    left: 100px;
    bottom:5px;
    z-index: 4;
    cursor: pointer;
    transition: transform 0.3s;
}

.Cardápio:hover{
    transform: scale(1.1);
}

.Lançamentos {
    font-family: 'Nasalization';
    font-size: 13;
    position: absolute;
    left:420px;
    bottom:5px;
    cursor:pointer;
    transition: transform 0.3s;
}

.Lançamentos:hover{
    transform:scale(1.1);
}

.QuemSomos {
    font-family: 'Nasalization';
    font-size: 13;
    position:absolute;
    right:420px;
    bottom:5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.QuemSomos:hover{
    transform:scale(1.1);}

    .Cupons{
    font-family: 'Nasalization';
    font-size: 13;
    position:absolute;
    right:100px;
    bottom:5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.Cupons:hover{
    transform:scale(1.1);}

.VenhaProvarText{
    font-family: 'Nasalization';
    font-size: 13;
    position:absolute;
}
.Texto1B{
    font-family: 'Nasalization';
    font-size:30;
    position:absolute;
    top: 620px;
    left: 50px;
}
.Texto2B{
    font-family: 'Nasalization';
    font-size: 27;
    position: absolute;
    top: 640px;
    left: 15px;
}
.Texto1C{
    font-family: 'Nasalization';
    font-size:30;
    position:absolute;
    z-index: 4;
    top: 835px;
    left: 50px;
}
.Texto2C{
    font-family: 'Nasalization';
    font-size: 27;
    position: absolute;
    z-index: 4;
    top: 890PX;
    left: 25px;
}

.Texto1D{
    font-family: 'Nasalization';
    font-size:30;
    position:absolute;
    top: 1500px;
    left: 50px;
}
.Texto2D{
    font-family: 'Nasalization';
    font-size: 27;
    position: absolute;
    top: 1520px;
    left: 15px;
}

.Texto1E{
    font-family: 'Nasalization';
    font-size:20;
    position:absolute;
    top: 100px;
    left: 80px;
}
.Texto2E{
    font-family: 'Nasalization';
    font-size:20;
    position:absolute;
    top: 130px;
    left: 47px;
}
.Texto3E{
    font-family: 'Nasalization';
    font-size: 15;
    position: absolute;
    top: 170px;
    left: 11px;
}

.Texto1F{
    font-family: 'Nasalization';
    font-size:22;
    position:absolute;
    z-index: 4;
    bottom: 155px;
    left: 80px;
}
.Texto2F{
    font-family: 'Nasalization';
    font-size: 19;
    position: absolute;
    z-index: 4;
    bottom:50px ;
    left: 35px;
}

.Texto1G{
    font-family: 'Nasalization';
    font-size:22;
    position:absolute;
    z-index: 4;
    bottom: 160px;
    left: 90px;
}
.Texto2G{
    font-family: 'Nasalization';
    font-size: 20;
    position: absolute;
    z-index: 4;
    bottom:20px ;
    left: 35px;
}

.Texto1H{
    font-family: 'Nasalization';
    font-size:20;
    position:absolute;
    top: 100px;
    left: 80px;
}
.Texto2H{
    font-family: 'Nasalization';
    font-size:20;
    position:absolute;
    top: 130px;
    left: 47px;
}
.Texto3H{
    font-family: 'Nasalization';
    font-size: 15;
    position: absolute;
    top: 170px;
    left: 11px;
}

.Texto1I{
    font-family: 'Nasalization';
    font-size:20;
    position:absolute;
    top: 100px;
    left: 80px;
}
.Texto2I{
    font-family: 'Nasalization';
    font-size:20;
    position:absolute;
    top: 130px;
    left: 47px;
}
.Texto3I{
    font-family: 'Nasalization';
    font-size: 15;
    position: absolute;
    top: 170px;
    left: 11px;
}

.Texto1J{
    font-family: 'Nasalization';
    font-size:25;
    position:absolute;
    top: 2240px;
    left: 360px;
}
.Texto2J{
    font-family: 'Nasalization';
    font-size: 20;
    position: absolute;
    top: 2250px;
    left: 360px;
}

.Texto1k{
    font-family: 'Nasalization';
    font-size:45;
    position:absolute;
    top: 2920px;
    left: 60px;
}
.Texto2k{
    font-family: 'Nasalization';
    font-size: 45;
    position: absolute;
    top: 2870px;
    left: 420px;
}

.PeçajáText {
    font-family: 'Nasalization';
    font-size: 13;
    position:absolute;
    top:1178px;
    right:280px;
}
#OpçõesDiversificadas {
    font-family: 'Nasalization';
    font-size: 13;
    position: absolute;
    top: 1350px;
    left:40px;
}
.StyletextVenhaProvar {
    font-family: 'Nasalization';
    font-size: 13;

    position:absolute ;
    top: 5px;
    left:190px;
    z-index:3;
}
.TextoD1{
    font-family: 'Nasalization';
    font-size: 13;
    position:absolute ;
    top: 350px;
    left: 250px;
}

#QuemSomos2 {
    font-family: 'Nasalization';
    font-size: 10;
    position:absolute ;
    top:3000px;
    left:440px ;
    z-index:5;
}
#TrabalheConosco {
    font-family: 'Nasalization';
    position:absolute ;
    font-size:10;
    top:3000px;
    left:620px ;
    right:620px ;
    z-index:5;
}
#FaleConosco{
    font-family: 'Nasalization';
    position:absolute ;
    font-size:10;
    top:3000px;
    right:440px ;
    z-index:5;
}
#DireitosReservados{
    font-family: 'Nasalization';
    position:absolute ;
    font-size:10;
    top:3120px;
    left:25% ;
    z-index:6;
}